In [349]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Importing Database

In [350]:
data = pd.read_csv('ds_salaries1.csv')

## Feature Selection

In [351]:
data = data.drop(['employee_residence','salary_in_usd'], axis=1)

## Extracting company_location Feature

In [352]:
def add_company_location(region):
    if region=='US' or region=='GB' or region=='CA' or region=='ES' or region=='DE' or region=='IN' or region=='FR':
        return region
    else:
        return 'Other'

data['company_location'] = data['company_location'].apply(add_company_location)

## Extracting job_title Feature

In [353]:
data['job_category']='Others'

def add_job_titles():
    category_mapping = {
        'Data Scientist': 'Data Scientist',
        'Data Science' : 'Data Scientist',
        'Data Engineer': 'Data Engineer',
        'Data Architect': 'Data Engineer',
        'Big Data Architect': 'Data Engineer',
        'Data Analyst': 'Data Analyst',
        'Head of Data': 'Data Analyst',
        'Data Analytic': 'Data Analyst',
        'Data Specialist': 'Data Analyst',
        'ETL Developer': 'Data Analyst',
        'Machine Learning': 'ML Engineer',
        'ML' : 'ML Engineer',
        'NLP Engineer' : 'ML Engineer',
        'AI': 'AI Engineer',
        'Business': 'BI/BA Engineer',
        'BI': 'BI/BA Engineer',
        'BA': 'BI/BA Engineer',
        'Cloud': 'Cloud Engineer',
        'Deep Learning': 'Deep Learning Engineer',
    }

    for keyword, category in category_mapping.items():
        data.loc[data['job_title'].str.contains(keyword, case=False), 'job_category'] = category


add_job_titles()

In [354]:
data = data.drop(['job_title'], axis=1)

## Extracting salary_currency Feature

In [355]:
def add_salary_currency(currency):
    if currency=='USD' or currency=='GBP' or currency=='EUR' or currency=='INR' or currency=='CAD' or currency=='AUD':
        return currency
    else:
        return 'Other'

data['salary_currency'] = data['salary_currency'].apply(add_salary_currency)

## One-hot Encoding

In [356]:
data = pd.get_dummies(data, columns=['work_year'], prefix='work_year')
# data = pd.get_dummies(data, columns=['experience_level'], prefix='experience_level')
# data = pd.get_dummies(data, columns=['employment_type'], prefix='employment_type')
data = pd.get_dummies(data, columns=['job_category'], prefix='job_category')
data = pd.get_dummies(data, columns=['salary_currency'], prefix='salary_currency')
# data = pd.get_dummies(data, columns=['remote_ratio'], prefix='remote_ratio')
# data = pd.get_dummies(data, columns=['company_size'], prefix='company_size')
data = pd.get_dummies(data, columns=['company_location'], prefix='company_location')

## Label Encoding

In [357]:
data['company_size'] = data['company_size'].replace({'S':1 ,'M': 2, 'L': 3})
data['remote_ratio'] = data['remote_ratio'].replace({100: 3, 50: 2, 0: 1}) 
data['experience_level'] = data['experience_level'].replace({'EN': 1, 'MI': 2, 'SE': 3, 'EX': 4})
data['employment_type'] = data['employment_type'].replace({'FL':1 ,'PT': 2, 'FT': 3, 'CT': 4,})

In [358]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()

# data['experience_level'] = le.fit_transform(data['experience_level'])
# data['work_year'] = le.fit_transform(data['work_year'])
# data['employment_type'] = le.fit_transform(data['employment_type'])
# data['job_title'] = le.fit_transform(data['job_title'])
# data['company_location'] = le.fit_transform(data['company_location'])
# data['company_size'] = le.fit_transform(data['company_size'])
# data['remote_ratio'] = le.fit_transform(data['remote_ratio'])

In [359]:
data.shape

(607, 32)

In [360]:
data.tail()

,Unnamed: 0,experience_level,employment_type,salary,remote_ratio,company_size,work_year_2020,work_year_2021,work_year_2022,job_category_AI Engineer,...,salary_currency_Other,salary_currency_USD,company_location_CA,company_location_DE,company_location_ES,company_location_FR,company_location_GB,company_location_IN,company_location_Other,company_location_US
602,602,3,3,154000,3,2,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
603,603,3,3,126000,3,2,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
604,604,3,3,129000,1,2,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
605,605,3,3,150000,3,2,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
606,606,2,3,200000,3,3,0,0,1,1,...,0,1,0,0,0,0,0,0,0,1

## Test-train Splitting

In [361]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler()

data['salary']=np.log(data['salary'].values)

y = data[['salary']]
x = scalar.fit_transform(data.drop(['salary'],axis=1))
x1 = data.drop(['salary'], axis=1)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [362]:
x1

,Unnamed: 0,experience_level,employment_type,remote_ratio,company_size,work_year_2020,work_year_2021,work_year_2022,job_category_AI Engineer,job_category_BI/BA Engineer,...,salary_currency_Other,salary_currency_USD,company_location_CA,company_location_DE,company_location_ES,company_location_FR,company_location_GB,company_location_IN,company_location_Other,company_location_US
0,0,2,3,1,3,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,3,3,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,2,3,3,2,2,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,3,2,3,1,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,4,3,3,2,3,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,3,3,3,2,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
603,603,3,3,3,2,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
604,604,3,3,1,2,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
605,605,3,3,3,2,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
606,606,2,3,3,3,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,1

In [363]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   607 non-null    int64
 1   experience_level             607 non-null    int64
 2   employment_type              607 non-null    int64
 3   remote_ratio                 607 non-null    int64
 4   company_size                 607 non-null    int64
 5   work_year_2020               607 non-null    uint8
 6   work_year_2021               607 non-null    uint8
 7   work_year_2022               607 non-null    uint8
 8   job_category_AI Engineer     607 non-null    uint8
 9   job_category_BI/BA Engineer  607 non-null    uint8
 10  job_category_Cloud Engineer  607 non-null    uint8
 11  job_category_Data Analyst    607 non-null    uint8
 12  job_category_Data Engineer   607 non-null    uint8
 13  job_category_Data Scientist  607 non-null    uint8
 14  job_category_ML Engineer     607 non-null    uint8
 15  job_category_Others          607 non-null    uint8
 16  salary_currency_AUD          607 non-null    uint8
 17  salary_currency_CAD          607 non-null    uint8
 18  salary_currency_EUR          607 non-null    uint8
 19  salary_currency_GBP          607 non-null    uint8
 20  salary_currency_INR          607 non-null    uint8
 21  salary_currency_Other        607 non-null    uint8
 22  salary_currency_USD          607 non-null    uint8
 23  company_location_CA          607 non-null    uint8
 24  company_location_DE          607 non-null    uint8
 25  company_location_ES          607 non-null    uint8
 26  company_location_FR          607 non-null    uint8
 27  company_location_GB          607 non-null    uint8
 28  company_location_IN          607 non-null    uint8
 29  company_location_Other       607 non-null    uint8
 30  company_location_US          607 non-null    uint8
dtypes: int64(5), uint8(26)
memory usage: 39.2 KB

## Linear Regression

In [364]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression()
model1.fit(x_train, y_train)

LinearRegression()

In [365]:
from sklearn import metrics

y_pred1 = model1.predict(x_test)
accuracy1 = metrics.r2_score(y_test,y_pred1)
print(accuracy1)

0.5689093305885731

In [366]:
# import pickle

# with open("model.pickle","wb") as file:
#     pickle.dump(model2, file)

In [367]:
import joblib

# Save the model using joblib
joblib.dump(model1, 'model.pickle')

['model.pickle']

In [368]:
comparison_df = pd.DataFrame({
    'Actual Salary': y_test['salary'].values,
    'Predicted Salary': y_pred1.flatten()
})

comparison_df.tail(60)

     Actual Salary  Predicted Salary
62       12.899220         13.893555
63       12.928779         12.116699
64       12.013701         11.738281
65       12.239019         11.638428
66       11.289782         11.568604
67       10.819778         10.655762
68       11.775290         11.565674
69       11.127263         11.527832
70       10.915088         10.803955
71       11.652687         13.086670
72       12.154779         11.872559
73       11.407565         10.854980
74       11.979799         11.851074
75       12.452933         11.924805
76       11.082143         11.051758
77       11.373663         10.728271
78       11.198215         11.750000
79       11.093159         11.109619
80       11.918391         12.023193
81       11.695247         11.306396
82       11.407565         11.296387
83       10.308953         10.321289
84       11.813030         12.302490
85       11.918391         12.487061
86       11.835009         11.333252
87       12.120515         12.063965
88       11.599103         11.754395
89       10.896739         11.151367
90       17.229953         13.035400
91       10.819778         10.828369
92       11.695247         11.664795
93       11.608236         11.758789
94       12.111432         11.947510
95       10.874266         10.712158
96       11.512925         10.636963
97       10.819778         10.326904
98       14.914123         14.396240
99       11.744037         11.952637
100      10.596635         10.625000
101      11.225243         10.718750
102      11.695247         11.749268
103      12.206073         12.258301
104      11.824812         11.652100
105      11.289782         10.973877
106      11.700235         11.649658
107      12.492754         11.949463
108      11.951180         11.649658
109      11.248439         11.153320
110      10.308953         10.640381
111      11.589887         12.888916
112      11.938193         12.025391
113      12.078239         11.988037
114      10.896739         10.832520
115      10.308953         10.363770
116      12.429216         12.881104
117      12.043554         11.621582
118      11.839347         11.979248
119      11.695247         11.642090
120      11.503380         11.662109
121      11.608236         11.189209

## Decision Tree Regressor

In [369]:
from sklearn.tree import DecisionTreeRegressor

model2 = DecisionTreeRegressor()
model2.fit(x_train, y_train)

DecisionTreeRegressor()

In [370]:
y_pred2 = model2.predict(x_test)
accuracy2 = metrics.r2_score(y_test,y_pred2)
print(accuracy2)

0.4917914011664899

In [371]:
comparison_df1 = pd.DataFrame({
    'Actual Salary': y_test['salary'].values,
    'Predicted Salary': y_pred2.flatten()
})

comparison_df1.tail(60)

     Actual Salary  Predicted Salary
62       12.899220         14.285514
63       12.928779         11.971615
64       12.013701         11.849398
65       12.239019         11.325390
66       11.289782         11.112448
67       10.819778         10.463103
68       11.775290         11.023535
69       11.127263         11.461632
70       10.915088         11.156251
71       11.652687         11.532728
72       12.154779         11.982929
73       11.407565         11.512925
74       11.979799         11.699405
75       12.452933         11.982929
76       11.082143         11.156251
77       11.373663         10.847393
78       11.198215         11.034890
79       11.093159         11.931636
80       11.918391         12.528156
81       11.695247         11.512925
82       11.407565         11.813030
83       10.308953         10.596635
84       11.813030         12.072541
85       11.918391         12.367341
86       11.835009         11.736069
87       12.120515         11.948596
88       11.599103         11.652687
89       10.896739         10.819778
90       17.229953         11.918391
91       10.819778         10.985293
92       11.695247         12.206073
93       11.608236         11.608236
94       12.111432         12.301883
95       10.874266         11.512925
96       11.512925         11.156236
97       10.819778         10.819778
98       14.914123         12.955127
99       11.744037         11.883482
100      10.596635         10.555813
101      11.225243         10.645425
102      11.695247         11.849398
103      12.206073         12.396693
104      11.824812         11.601669
105      11.289782         10.819778
106      11.700235         11.533708
107      12.492754         12.269611
108      11.951180         11.533708
109      11.248439         11.002100
110      10.308953         10.596635
111      11.589887         11.532728
112      11.938193         11.877569
113      12.078239         11.877569
114      10.896739         11.002100
115      10.308953         10.596635
116      12.429216         11.982929
117      12.043554         11.289782
118      11.839347         12.043554
119      11.695247         10.968198
120      11.503380         11.634258
121      11.608236         11.320554