In [45]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Importing Database

In [86]:
data = pd.read_csv('ds_salaries1.csv')

## Feature Selection

In [87]:
data = data.drop(['employee_residence'], axis=1)

## Extracting company_location Feature

In [88]:
def add_company_location(region):
    if region=='US' or region=='GB' or region=='CA' or region=='ES' or region=='DE' or region=='IN' or region=='FR':
        return region
    else:
        return 'Other'

data['company_location'] = data['company_location'].apply(add_company_location)

## Extracting job_title Feature

In [89]:
data['job_category']='Others'

def add_job_titles():
    category_mapping = {
        'Data Scientist': 'Data Scientist',
        'Data Science' : 'Data Scientist',
        'Data Engineer': 'Data Engineer',
        'Data Architect': 'Data Engineer',
        'Big Data Architect': 'Data Engineer',
        'Data Analyst': 'Data Analyst',
        'Head of Data': 'Data Analyst',
        'Data Analytic': 'Data Analyst',
        'Data Specialist': 'Data Analyst',
        'ETL Developer': 'Data Analyst',
        'Machine Learning': 'ML Engineer',
        'ML' : 'ML Engineer',
        'NLP Engineer' : 'ML Engineer',
        'AI': 'AI Engineer',
        'Business': 'BI/BA Engineer',
        'BI': 'BI/BA Engineer',
        'BA': 'BI/BA Engineer',
        'Cloud': 'Cloud Engineer',
        'Deep Learning': 'Deep Learning Engineer'
    }

    for keyword, category in category_mapping.items():
        data.loc[data['job_title'].str.contains(keyword, case=False), 'job_category'] = category


add_job_titles()

In [90]:
data = data.drop(['job_title'], axis=1)

## Extracting salary_currency Feature

In [91]:
def add_salary_currency(currency):
    if currency=='USD' or currency=='GBP' or currency=='EUR' or currency=='INR' or currency=='CAD' or currency=='AUD':
        return currency
    else:
        return 'Other'

data['salary_currency'] = data['salary_currency'].apply(add_salary_currency)

## One-hot Encoding

In [92]:
data = pd.get_dummies(data, columns=['work_year'], prefix='work_year')
# data = pd.get_dummies(data, columns=['experience_level'], prefix='experience_level')
# data = pd.get_dummies(data, columns=['employment_type'], prefix='employment_type')
data = pd.get_dummies(data, columns=['job_category'], prefix='job_category')
data = pd.get_dummies(data, columns=['salary_currency'], prefix='salary_currency')
# data = pd.get_dummies(data, columns=['remote_ratio'], prefix='remote_ratio')
# data = pd.get_dummies(data, columns=['company_size'], prefix='company_size')
data = pd.get_dummies(data, columns=['company_location'], prefix='company_location')

## Label Encoding

In [93]:
data['company_size'] = data['company_size'].replace({'S':1 ,'M': 2, 'L': 3})
data['remote_ratio'] = data['remote_ratio'].replace({100: 3, 50: 2, 0: 1}) 
data['experience_level'] = data['experience_level'].replace({'EN': 1, 'MI': 2, 'SE': 3, 'EX': 4})
data['employment_type'] = data['employment_type'].replace({'FL':1 ,'PT': 2, 'FT': 3, 'CT': 4,})

In [94]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()

# data['experience_level'] = le.fit_transform(data['experience_level'])
# data['work_year'] = le.fit_transform(data['work_year'])
# data['employment_type'] = le.fit_transform(data['employment_type'])
# data['job_title'] = le.fit_transform(data['job_title'])
# data['company_location'] = le.fit_transform(data['company_location'])
# data['company_size'] = le.fit_transform(data['company_size'])
# data['remote_ratio'] = le.fit_transform(data['remote_ratio'])

In [95]:
data.shape

(607, 33)

In [96]:
data.tail()

,Unnamed: 0,experience_level,employment_type,salary,salary_in_usd,remote_ratio,company_size,work_year_2020,work_year_2021,work_year_2022,...,salary_currency_Other,salary_currency_USD,company_location_CA,company_location_DE,company_location_ES,company_location_FR,company_location_GB,company_location_IN,company_location_Other,company_location_US
602,602,3,3,154000,154000,3,2,0,0,1,...,0,1,0,0,0,0,0,0,0,1
603,603,3,3,126000,126000,3,2,0,0,1,...,0,1,0,0,0,0,0,0,0,1
604,604,3,3,129000,129000,1,2,0,0,1,...,0,1,0,0,0,0,0,0,0,1
605,605,3,3,150000,150000,3,2,0,0,1,...,0,1,0,0,0,0,0,0,0,1
606,606,2,3,200000,200000,3,3,0,0,1,...,0,1,0,0,0,0,0,0,0,1

## Test-train Splitting

In [97]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

scalar = MinMaxScaler()

data['salary_in_usd']=np.log(data['salary_in_usd'].values)

y = data[['salary_in_usd']]
x = scalar.fit_transform(data.drop(['salary_in_usd'],axis=1))

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

## Linear Regression

In [98]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression()
model1.fit(x_train, y_train)

LinearRegression()

In [99]:
from sklearn import metrics

y_pred1 = model1.predict(x_test)
accuracy1 = metrics.r2_score(y_test,y_pred1)
print(accuracy1)

0.5242025744964938

In [104]:
comparison_df = pd.DataFrame({
    'Actual Salary': y_test['salary_in_usd'].values,
    'Predicted Salary': y_pred1.flatten()
})

comparison_df.tail(60)

     Actual Salary  Predicted Salary
62        8.595820          9.527864
63       12.928779         12.069389
64       12.013701         11.751658
65       12.239019         11.644428
66       11.457032         11.699441
67       11.088858         10.979801
68       11.775290         11.550081
69       10.901137         11.309465
70       10.915088         11.081542
71       11.714608         10.464518
72       12.154779         11.757783
73       11.407565         10.835173
74       11.753681         11.646289
75       12.452933         11.891483
76       11.249390         11.298148
77       11.540920         10.950325
78       11.198215         11.741859
79       11.260405         11.266786
80       11.918391         12.005152
81       11.695247         11.307801
82       11.407565         11.288473
83       10.403475         10.507299
84       11.813030         12.326854
85       11.918391         12.207643
86       11.835009         11.209172
87       12.120515         12.057626
88       11.599103         11.792218
89       11.063994         11.343202
90       10.597584         13.055799
91       10.914306         11.015062
92       11.695247         11.675152
93       11.608236         11.678436
94       12.111432         11.895368
95       10.968802         10.886949
96       11.512925         10.857376
97       10.914306         10.491111
98       10.608588         10.127229
99       11.744037         11.963920
100      10.763885         10.705643
101      11.392496         10.899140
102      11.695247         11.758177
103      12.206073         12.205593
104      11.824812         11.625886
105      11.289782         10.963126
106      11.700235         11.612464
107      12.492754         11.958551
108      11.951180         11.615217
109      11.415687         11.339381
110      10.578038         10.943552
111       9.401209         10.230897
112      11.938193         12.017437
113      12.078239         12.008871
114      11.063994         11.022638
115      10.403475         10.511261
116      10.240531         10.249489
117      12.043554         11.634778
118      11.839347         11.957766
119      11.695247         11.597489
120      11.503380         11.676318
121      11.608236         11.176198

## Decision Tree Regressor

In [101]:
from sklearn.tree import DecisionTreeRegressor

model2 = DecisionTreeRegressor()
model2.fit(x_train, y_train)

DecisionTreeRegressor()

In [102]:
y_pred2 = model2.predict(x_test)
accuracy2 = metrics.r2_score(y_test,y_pred2)
print(accuracy2)

0.7753491351349885

In [103]:
comparison_df1 = pd.DataFrame({
    'Actual Salary': y_test['salary_in_usd'].values,
    'Predicted Salary': y_pred2.flatten()
})

comparison_df1.tail(60)

     Actual Salary  Predicted Salary
62        8.595820          8.649449
63       12.928779         12.938441
64       12.013701         12.013701
65       12.239019         12.232228
66       11.457032         11.415687
67       11.088858         11.088858
68       11.775290         11.775290
69       10.901137         11.279694
70       10.915088         11.158234
71       11.714608         10.256817
72       12.154779         12.155831
73       11.407565         11.407565
74       11.753681         11.549171
75       12.452933         12.468437
76       11.249390         11.320893
77       11.540920         11.415687
78       11.198215         11.191342
79       11.260405         11.249390
80       11.918391         11.918391
81       11.695247         11.695247
82       11.407565         11.407565
83       10.403475         10.403475
84       11.813030         11.813030
85       11.918391         11.918391
86       11.835009         11.837542
87       12.120515         12.126488
88       11.599103         11.597267
89       11.063994         11.158234
90       10.597584         10.479820
91       10.914306         10.914306
92       11.695247         11.695247
93       11.608236         11.608236
94       12.111432         12.100712
95       10.968802         11.082143
96       11.512925         11.695247
97       10.914306         10.914306
98       10.608588         10.610784
99       11.744037         11.736069
100      10.763885         10.753831
101      11.392496         11.392496
102      11.695247         11.695247
103      12.206073         12.206073
104      11.824812         11.824959
105      11.289782         11.289782
106      11.700235         11.696579
107      12.492754         12.468437
108      11.951180         11.951180
109      11.415687         11.415687
110      10.578038         10.578038
111       9.401209         11.687374
112      11.938193         11.934920
113      12.078239         12.073113
114      11.063994         11.158234
115      10.403475         10.578038
116      10.240531         10.261477
117      12.043554         12.043554
118      11.839347         11.828765
119      11.695247         11.695247
120      11.503380         11.502875
121      11.608236         11.608236